@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin:0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif ;

}

body{
    background-color: #E3F2FD;

}

.popup{
    position: absolute;
    left: 50%;
    top: -25%;
    visibility: hidden;
    background-color: #fff;
    width: 490px;
    border-radius: 5px;
    display: flex;
    padding: 13px 17px 20px;
    border-top: 3px solid #EA4D67;
    box-shadow: rgba(52, 87, 220, 0.2);
    transform: translateX(-50%);
    transition: all 0.25s ease;
}
.popup.online {
    border-color: #2ECC71;
}
.popup.show{
    top : 0;
    visibility: visible;
}
.popup .icon i{
    width: 40px;
    height: 40px;
    background-color: #EA4D67;
    color: #fff;
    font-size: 1.2rem;
    margin-right: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;

}

.popup.online .icon i{
    background-color: #2ECC71;
}

.popup .title{
    font-size: 1.2rem;
}
.popup .desc{
    color: #474747;
    margin: 3px 0 10px;
    font-size: 1.04rem;
}
.popup .reconnect{
    padding: 9px 15px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #5372F0;
    cursor: pointer;
    font-size: 0.95rem;
    border-radius: 5px;
    font-weight: 500;
}
.popup.online .reconnect{
    background: #2ECC71;
    pointer-events: none;
}

@media screen and (max-width : 550px) {
    .popup{
        width: 100%;
        padding: 10px 15px 17px;
    }
}